<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
		  integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
		  crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="~/asset/bootstrap/bootstrap-grid.min.css">
	<link rel="stylesheet" href="~/asset/css/base.css">
	<link rel="stylesheet" href="~/asset/css/index.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	@await RenderSectionAsync("Styles", required: false)
	<title>Tablet Plaza - TRẢ GÓP ONLINE</title>
</head>

<body>
	@await Component.InvokeAsync("_header")
	@RenderBody()
	<footer class="footer">
		<div class="hr orange"></div>
		<div class="footer_top">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-3">
						<div class="box_img"><img src="~/asset/img/logo_moi_1-01.png" alt=""></div>
					</div>
					<div class="col-9">
						<ul class="list_sections">
							<li><a href="#">Apple</a></li>
							<li><a href="#">Điện thoại di động</a></li>
							<li><a href="#">Phụ kiện giá tốt</a></li>
							<li><a href="#">Máy cũ giá tốt</a></li>
							<li><a href="#">Liên hệ</a></li>
							<li><a href="#">Hệ thống showroom</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_mid">
			<div class="container">
				<div class="row">
					<div class="col-3 column">
						<div class="box_list">
							<h3 class="list_title"><span>Tablet palza</span></h3>
							<ul class="list_content">
								<li><a href="#">Tuyển dụng</a></li>
								<li><a href="#">Khuyến mãi</a></li>
								<li><a href="#">Trả góp</a></li>
								<li><a href="#">Góp ý, khuyến mãi</a></li>
							</ul>
						</div>
						<div class="box_list mt-3">
							<h3 class="list_title"><span>Chăm sóc khách hàng</span></h3>
							<ul class="list_content">
								<li><a href="#">Câu hỏi thường gặp</a></li>
								<li><a href="#">Chính sách bảo hành</a></li>
								<li><a href="#">Chính sách đổi trả</a></li>
								<li><a href="#">Chính sách bảo mật</a></li>
								<li><a href="#">Hướng dẫn thanh toán</a></li>
							</ul>
						</div>
					</div>
					<div class="col-9 column">
						<div class="box_list">
							<h3 class="list_title"><span>Hệ thống cửa hàng</span></h3>
							<div class="row">
								<div class="col-4">
									<ul class="list_content">
										<li><a href="#" class="second_title">Tablet plaza tp.hcm</a></li>

										<li><a href="#" class="active">Tablet plaza quận 5</a></li>
										<li><a href="#" class="">182 Trần Bình Trọng Phường 3 Quận 5</a></li>
										<li><a href="#" class="">Hotline: 0948.666.000</a></li>

										<li><a href="#" class="active">Tablet Plaza Gò Vấp</a></li>
										<li><a href="#" class="">182 Trần Bình Trọng Phường 3 Quận 5</a></li>
										<li><a href="#" class="">Hotline: 0948.666.000</a></li>

										<li><a href="#" class="active">Tablet Plaza Tân Bình</a></li>
										<li><a href="#" class="">182 Trần Bình Trọng Phường 3 Quận 5</a></li>
										<li><a href="#" class="">Hotline: 0948.666.000</a></li>
									</ul>
								</div>
								<div class="col-4">
									<ul class="list_content">
										<li><a href="#" class="second_title">TABLET PLAZA BÌNH DƯƠNG</a></li>

										<li><a href="#" class="active">Tablet plaza thủ dầu 1</a></li>
										<li><a href="#" class="">Số 449 Đại lộ Bình Dương, P. Phú Cường, TP.TDM</a></li>
										<li><a href="#" class="">Hotline: <span class="strong">0834.290.290</span></a></li>

										<li><a href="#" class="active">Tablet Plaza Dĩ An(SRS Dĩ An)</a></li>
										<li><a href="#" class="">233 Lý Thường Kiệt, P.Dĩ An, TP.Dĩ An</a></li>
										<li><a href="#" class="">Hotline: <span class="strong"> 0888.62.72.62</span></a></li>

										<li><a href="#" class="active">Tablet Plaza Dĩ An</a></li>
										<li><a href="#" class="">Số 249 Nguyễn An Ninh, P. Dĩ An, TP. Dĩ An</a></li>
										<li><a href="#" class="">Hotline: <span class="strong">0917.84.74.74</span></a></li>

										<li><a href="#" class="active">Tablet Plaza Bến Cát</a></li>
										<li><a href="#" class="">Lô A10 Golden Center City, QL13, Mỹ Phước, Bến Cát</a></li>
										<li><a href="#" class="">Hotline: <span class="strong">0888.066.578</span></a></li>
									</ul>
								</div>
								<div class="col-4">
									<ul class="list_content">
										<li><a href="#" class="second_title">TABLET PLAZA ĐỒNG NAI</a></li>

										<li><a href="#" class="active">Tablet Plaza Biên Hòa</a></li>
										<li><a href="#" class="">Số 93 Đồng Khởi, P. Tam Hiệp, Tp. Biên Hòa</a></li>
										<li><a href="#" class="">Hotline: <span class="strong"> 0933.033.966</span></a></li>

										<li class="footer_box_img"><img src="~/asset/img/chungnhan.jpeg" alt=""></li>
										<li class="footer_adv"><img src="https://www.gstatic.com/partners/badge/images/2022/PartnerBadgeClickable.svg" alt=""></li>
									</ul>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
		<div class="footer_bottom">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<p class="footer_text">© 2010 - 2024 Tablet Plaza.  Công ty TNHH TMDV Tin Học BNI</p>
					</div>
				</div>
			</div>
		</div>
	</footer>


	<!-- Modal Structure -->
	<div id="myModal" class="modal">
		<div id="modalContent" class="modal-content">
			<span class="close">&times;</span>
			<h2>
				<i class="fa-regular fa-circle-check modal_icon"></i>
				<p id="modalTitle">Thành công</p>
			</h2>
			<p id="modalMessage">Đây là nội dung thông báo của bạn.</p>
		</div>
	</div>
	<div id="myModal_custome"
		 data-type="@TempData["ModalType"]"
		 data-title="@TempData["ModalTitle"]"
		 data-message="@TempData["ModalMessage"]"></div>

	<script src="~/asset/js/main.js" type="module"></script>
	<script type="module">
		import {openModal} from '/asset/js/source.js'

		var modal = document.getElementById("myModal_custome");
		var modalType = modal.getAttribute("data-type");
		var modalTitle = modal.getAttribute("data-title");
		var modalMessage = modal.getAttribute("data-message");
		if (modalType != "") {
			openModal(modalType, modalTitle, modalMessage);
		}

		
	</script>
	
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
