@model IEnumerable<Product>

@foreach (var product in Model)
{
    var imgs = product.ImageURL?.Split(';') ?? new string[0];
    <div class="col-12d5">
        <div class="product_item">
            <div class="product_img">
                <div class="list_product_img">
                    <button id="product_img_prev"><i class="fa-solid fa-chevron-left"></i></button>
                    <div class="slide_container">
                        <div class="list_img_product d-flex flex-nowrap" id="js_list_img_product">
                            @foreach (var img in imgs)
                            {
                                <img src="~/asset/img/@img" alt="">
                            }
                        </div>
                    </div>
                    <button id="product_img_next"><i class="fa-solid fa-chevron-right"></i></button>
                </div>
                <img src="~/asset/img/thuonghieu.png" alt="" class="trademark">
            </div>
            <div class="product_content">
                <p class="product_status">Hotsale</p>
                <h4 class="product_name"><a href="/products/details?id=@product.ProductId">@product.ProductName</a></h4>
                <p class="cost_origin">@String.Format("{0:N0} đ", product.Price)</p>
                <span class="product_price">@String.Format("{0:N0} đ", (double)product.Price * 0.9)</span>
                <span class="sale_off">-10%</span>
            </div>
        </div>
    </div>
}
