
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="col-lg-5 col-md-8 py-8 py-xl-0">
	<!-- Card -->
	<div class="card shadow">
		<!-- Card body -->
		<div class="card-body p-6" style="background: #e5e2e2; color: #000;">
			<div class="mb-4">
				<a href="../index.html"><img src="~/assets/img/logo-icon.svg" class="mb-4" alt="logo-icon"></a>
				<h1 class="mb-1 fw-bold">Forgot Password</h1>
				<p>Please check your email and click on the link we've sent you to reset password!</p>
			</div>
		</div>
	</div>
</div>

