/* Custom styles for the payment form */

/* Center the main container with some margin and padding */

.left_form {
    padding: 20px 20px 20px 20px;
}
.bg_blur {
    background: #f2f9ff;
    padding: 20px;
}
form input, form textarea {
    padding: 10px 6px;
    border: 1px solid #eee;
    border-radius: 4px;
    font-size: 15px;
    outline: none;
}
form input:focus {
    outline: 1px solid #a3b5c8;
    color: #333;
}
.btn_HinhThuc {
    min-height: 120px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 6px;
    cursor: pointer;
    background: #ffffff;
}
.btn_HinhThuc.orange {
    background: #ff7419;
    color: #fff;
}

.form-check {
    border: 1px solid #a3b5c8;
    border-radius: 6px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;
}
.form-check input {
    width: unset;
    cursor: pointer;
}

.form-check.reverse {
    flex-direction: row;
    justify-content: flex-start;
}
.form-check.reverse input {
    margin-right: 10px;
    padding-left: 0px;
    margin-left: 0;
}
.form-check.reverse {
    border: 1px solid #dce3ea;
    background: rgba(249,249,249,0.5);
}

.btnCheckOut {
    width: 100%;
    border-radius: 5px;
    background-color: #ff7419;
    height: 54px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.grid_2_1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* Chia thành 4 cột với chiều rộng bằng nhau */
    gap: 20px;
}


.grid_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.side-grid {
    padding: 20px;
}
.order-product-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.order-product-list li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ty-order-products__price {
    font-weight: bold;
    color: #333;
}
.ty-checkout-summary__block {
    width: 100%;
    border-collapse: collapse;
}
.ty-checkout-summary__block td {
    
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.ty-checkout-summary__block th {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.ty-checkout-summary__total {
    font-weight: bold;
    color: #333;
}
.ty-gift-certificate-coupon {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}
.ty-input-text {
    flex: 1;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 10px;
}
a {
    text-decoration: none;
}
.btn {
    cursor: pointer;
    border: none;
    padding: 6px 8px;
    background: #ff7419;
    color: #fff;
    border-radius: 4px;
}