body {
    font-size: 14px;
}

.text-danger {
    color: #ff453a;
    font-weight: bold;
    font-size: 18px;
}

.bg-white {
    background: #ffffff;
}

.bread_crum {
    color: #8ca3ba;
    font-size: 16px;
    margin-top: 10px;
}
.bread_crum a {
    font-size: 16px !important;
}
.bread_crum_current {
    color: #465f73;
}
.product_title {
    font-size: 18px !important;
}
.main {
    padding-top: 0;
}

.label_btn {
    padding: 4px 6px;
    border-radius: 3px;
    color: #ffffff;
}

.primary {
    background: #0a84ff;
}

.danger {
    background: #ff453a;
}

.product_img_main img {
    width: 100%; /* Đặt kích thước hình ảnh chính theo ý muốn */
    max-width: 600px; /* Ví dụ: giới hạn kích thước tối đa */
}
.product_img_list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}
.product_img_box img {
    width: 100px; /* Đặt kích thước hình ảnh nhỏ theo ý muốn */
    cursor: pointer;
}
.product_img_box.active img {
    border: 2px solid blue; /* border khi có lớp active */
}

.product_img_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Chia thành 4 cột với chiều rộng bằng nhau */
    gap: 10px;
    /* Khoảng cách giữa các phần tử */
    list-style-type: none;
    /* Bỏ dấu chấm mặc định của ul */
    padding: 0;
    /* Loại bỏ khoảng cách padding mặc định */
    margin: 0;
    /* Loại bỏ khoảng cách margin mặc định */
}

.product_img_box {
    border: 1px solid #ddd;
    /* Tạo viền cho mỗi hộp ảnh */
    padding: 5px;
    /* Khoảng cách giữa viền và nội dung ảnh */
    text-align: center;
    /* Căn giữa nội dung bên trong mỗi hộp */
}

.product_img_box img {
    width: 100%;
    /* Ảnh chiếm toàn bộ chiều rộng của hộp */
    height: auto;
    /* Chiều cao tự động theo tỷ lệ của ảnh */
    cursor: pointer;
}

.product_price {
    display: flex;
}

.product_price p {
    font-size: 30px;
    color: #ff453a;
    font-weight: 700;
}

.product_price .label_btn {
    display: flex;
    align-items: center;
    margin-left: 40px;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 600;
}

.option-product-tb {
    background: #f2f9ff;
    padding: 24px;
    border-radius: 14px;
}

.option-product-tb li {
    line-height: 24px;
}

.option-product-tb .title {
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 16px;
    margin-bottom: 10px;
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Chia thành 4 cột với chiều rộng bằng nhau */
    gap: 10px;
    /* Khoảng cách giữa các phần tử */
    list-style-type: none;
    /* Bỏ dấu chấm mặc định của ul */
    padding: 0;
    /* Loại bỏ khoảng cách padding mặc định */
    margin: 0;
}

.options li {
    border-radius: 8px;
    padding: 10px 8px;
    border: 1px solid #d1d5db;
    cursor: pointer;
}

.options .active {
    border-color: #ff453a;
}

.options.mausac li {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    /* Khoảng cách giữa các phần tử */
    list-style-type: none;
    /* Bỏ dấu chấm mặc định của ul */
    padding: 2px;
    /* Loại bỏ khoảng cách padding mặc định */
    margin: 0;
    align-items: center;
}

.action_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Tạo 2 cột, mỗi cột có chiều rộng bằng nhau */
    gap: 10px;
    /* Khoảng cách giữa các phần tử */
    list-style-type: none;
    /* Bỏ dấu chấm mặc định của ul */
    padding: 0;
    /* Loại bỏ khoảng cách padding mặc định */
    margin: 0;
    /* Loại bỏ khoảng cách margin mặc định */
    color: #fff;
}

.action_list li {
    border: 1px solid #ddd;
    /* Tạo viền cho mỗi hộp ảnh */
    padding: 5px;
    /* Khoảng cách giữa viền và nội dung ảnh */
    text-align: center;
    /* Căn giữa nội dung bên trong mỗi hộp */
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
}

.action_list li {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}

.action_list li:nth-child(3) {
    grid-column: span 2;
    /* Mục thứ ba sẽ chiếm toàn bộ chiều rộng của lưới (cả 2 cột) */

}

.orange {
    background: linear-gradient(180deg, #f58f01, #fd6e1c);

}

.action_list .title {
    font-weight: 900;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.grey {
    background: #eeeeee;
    color: #465f73;
}

.grey .title {
    color: #0a84ff;
}

.text-center {
    text-align: center;
    margin: 16px;
}

.text-center .phone_number {
    font-size: 16px;
    color: #0a84ff;
    font-weight: 900;
}

.fearture {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.fearture li {
    background: #f2f9ff;
    padding: 12px 8px;
    display: flex;
    align-items: center;
}

.fearture img {
    width: 30px;
    padding-right: 9px;
}

.list_title {
    background: #f0f0f5;
    padding: 10px 10px;
    color: #333;
    border-bottom: 0;
    font-size: 16.5px;
    margin-top: 20px;
}


.tab-container {
    width: 100%;
    margin: auto;
}

.tab-menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #ccc;
}

.tab-link {
    min-width: 200px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: none;
}

.tab-link.active {
    background-color: #183544;
    font-weight: bold;
    color: #fff;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
}

.tab-content.active {
    display: block;
}


.comment-section {
    width: 100%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.comment-count span,
.comment-sort span {
    font-weight: bold;
}

.comment-sort {
    display: flex;
    align-items: center;
}

.sort-select {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #555;
}

.comment-box {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    gap: 10px;
}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: #ccc;
}

.comment-input {
    flex-grow: 1;
    position: relative;
}

.input-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    color: #aaa;
    pointer-events: none;
}

.comment-input-box {
    position: relative;
}
.input-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 70px;
    overflow-y: auto;
    outline: none;
}

.comment-attachment {
    display: flex;
    align-items: center;
    margin-left: 15px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.comment-attachment label {
    cursor: pointer;
}

.attachment-icon {
    font-size: 24px;
    color: #555;
}
.comment-action {
    display: flex;
    align-items: center;
}
.btn_send {
    background: #0a84ff;
    color: #fff;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

.plugin-info {
    margin-top: 10px;
    text-align: right;
}

.plugin-info a {
    text-decoration: none;
    color: #555;
    font-size: 12px;
}

.plugin-info a:hover {
    text-decoration: underline;
}
.section_tile {
    font-size: 24px;
}