
/* main */
.main {
    background: #f5f5f5;
    padding-top: 20px;
}
/* SLIDERS */
.list_imgs {
    transition: all ease-in-out 0.5s;
}
.sliders {
    position: relative;
    overflow: hidden;
}
.list_dots {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.list_dots li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 5px;
    background: #b4b9bc;
}
.list_dots li.active {
    background: var(--color_orange);
}
/* section_one */
.list_banner_title {
    display: flex;
    justify-content: center;
    align-items: start;
}
.list_banner_title li {
    background: #fff;
    padding: 10px;
    text-transform: capitalize;
    text-align: center;
}
.list_banner_title li + li {
    border-left: 1px solid #eee;
}
.list_banner_title li a {
    color: #000;
}
.list_banner_title li.active {
    background: var(--color_orange);
}
.list_banner_title li.active a {
    color: #fff;
}

/* right */
.section_navigation {
    margin-bottom: 20px;
    position: relative;
}
.section_navigation .first {
    background: var(--color_orange);
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    padding: 0 6px;
    text-transform: uppercase;
    width: 35.5%;
    position: relative;
}
.section_navigation .first::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 16px solid var(--color_orange);
    border-right: solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    right: -24px;
}
.section_navigation .second {
    background: var(--color_dark);
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    width: 64.5%;
    text-align: right;
    padding: 0 8px;
}
.section_navigation .dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--color_orange);
    border-radius: 50%;
    top: 50%;
    left: 45%;
    transform: translateY(-50%);
}
.section_navigation .dot::after {
    content: "";
    position: absolute;
    border: 1px solid #f18634;
    width: 10px;
    height: 10px;
    opacity: 1;
    background-color: rgba(238, 46, 36, .2);
    border-radius: 100%;
    /* transform: translate(-20%, -10%); */
    display: block;
    animation: sona linear 1.25s infinite;
    margin: -1px 0 0 -1px;
}
@keyframes sona {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}
.section_navigation a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section_navigation span {
    display: inline-block;
    line-height: 40px;
}

.post_type_1 {
    display: flex;
    justify-content: space-between;
}
.post_type_1 .post_img {
    width: 108px;
    height: 60px;
}
.post_type_1 .post_content {
    width: 70%;
    margin-left: 10px;
}
.post_content .post_title a {
    color: var(--color_post_title);
    font-weight: 500;
    line-height: 18px;
}
.post_content .post_date {
    margin-top: 6px;
    color: #adadad;
    font-size: 12px;
}

/* section_two */
.section_container {
    border: 1px solid #cd1818;
    border-radius: 8px;
    margin-top: 20px;
    background: #fff;
    border-bottom: 5px solid #cd1818;
}
.section_title {
    padding: 20px 10px;
    background: #cd1818;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
}
.section_title .icon {
    color: #fffc09;
    margin-right: 10px;
}

/* product */
.product_item {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 56px 10px 40px;
    margin-bottom: 40px;
    position: relative;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product_item .product_img .list_product_img {
    transform: translateY(0);
    transition: all ease-in 0.2s;
    width: 180px;
    height: 180px;
    position: relative;
}
.product_item:hover .product_img .list_product_img {
    transform: translateY(-8px);
    transition: all ease-in 0.2s;
}
.product_name {
    padding: 8px 0;
}
.product_item .product_name a {
    color: #3a3a3c;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}
.product_item .product_price {
    font-size: 20px;
    color: #ff453a;
    font-weight: 800;
}
/* slider_product_img */
.product_img button {
    width: 20px;
    height: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 50%;
    background: var(--color_dark);
    color: #fff;
    font-size: 8px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    display: none;
}
.list_product_img #product_img_prev {
    left: -10px;
}
.list_product_img #product_img_next {
    right: -10px;
}
.product_img {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.slide_container {
    overflow: hidden;
}
.product_item:hover .product_img button {
    display: flex;
}
.list_img_product {
    transition: all ease-in-out 0.3s;
}

.viewMore {
    display: none;
}
.viewMore.open {
    display: flex;
}
.btn_viewMore.close {
    display: none;
}

.product_item {
    position: relative;
}

.product_actions {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.product_actions button, .product_actions .btn {
    background: none;
    border: none;
    color: #ff453a;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.product_actions button:hover, .product_actions .btn:hover {
    transform: scale(0.97);
}


/* SECTION_THREE */
.section_three .section_title {
    background: #f5f5f5;
    color: var(--color_dark);
    font-weight: 900;
}
.banner_mid {
    margin: 20px 0;
}
/* navigation_menu_section */
.navigation_menu_section .icon {
    color: var(--color_orange);
}
.list_category {
    display: flex;
    justify-content: center;
    align-items: center;
}
.list_category a {
    color: var(--color_blue);
    display: block;
    margin: 0 10px;
}
.list_category a:hover {
    color: var(--color_orange);
}

.list_products {
    background: #fff;
    padding: 20px 10px 0px;
    border-radius: 8px;
    position: relative;
}
.control_slider {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.control_slider button {
    padding: 10px 6px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}
.control_slider .slider_prev {
    position: absolute;
    left: -18px;
}
.control_slider .slider_next {
    position: absolute;
    right: -18px;
}

.inner_slide {
    transition: all ease-in-out 0.5s;
}
/* products */
.new_product .product_item::before {
    content: "Đặt hàng trước";
}
.product_item::before {
    content: "Mới";
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 10px 0 0 10px;
    background: var(--color_blue);
    color: #fff;
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 12px;
}
.product_item.not::before {
    content: "";
    display: none;
}
.product_img {
    position: relative;
}
.product_img .trademark {
    width: 90px;
    height: 97px;
    position: absolute;
    top: 100%;
    right: 10px;
    transform: translate(36px, -55px);
}
.product_status {
    background: var(--color_red);
    color: #fff;
    padding: 6px 6px;
    display: inline-block;
    border-radius: 4px;
    font-size: 12px;
    margin: 6px 0;
    text-transform: capitalize;
    font-weight: 400;
    align-self: flex-start;
    font-size: 11px;
}
.product_content {
    position: relative;
    margin-top: 20px;
    width: 100%;
}
.sale_off {
    background: var(--color_red);
    color: #fff;
    padding: 4px 12px;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(-4px);
}
/* phụ kiện nổi bật */
.cost_origin {
    display: block;
    text-decoration: line-through;
    color: #3a3a3c;
    font-size: 13px;
}
.product_status.gold {
    background: var(--color_gold);
}
