<header class="header">
	<div class="container">
		<div class="row header_top">
			<div class="col-3 d-flex align-items-center">
				<a href="/" class="box_logo"><img src="~/asset/img/logo_moi_1-01.png" alt=""></a>
			</div>
			<div class="col-6 d-flex align-items-center">
				<div class="box_search">
					<input type="text" placeholder="Tìm kiếm sản phẩm"> <a href="#" class="btn_search">
						<i class="fa-solid fa-magnifying-glass"></i>
					</a>
				</div>
			</div>
			<div class="col-3 d-flex justify-content-start">
				<div class="user_actions">
					<a href="/users" class="icon">
						<i class="fa-solid fa-user"></i>
					</a>
					<a href="/shopping/cart" class="icon">
						<i class="fa-solid fa-shopping-cart"></i>
					</a>
					@if (User.Identity.IsAuthenticated)
					{
						<a href="/users/logout" class="icon">
							<i class="fa-solid fa-right-to-bracket"></i>
						</a>
					} else
					{
						<a href="/users/login" class="icon">
							<i class="fa-solid fa-power-off"></i>
						</a>
					}
				</div>
			</div>
		</div>
	</div>
	<div class="header_full">
		<div class="container">
			<div class="row">
				<!-- menu -->
				<div class="col-12 ps-0 pe-0">
					<ul class="menu">
						<li><a href="apple.html"><span class="icon"><i class="fa-brands fa-apple"></i></span>Apple</a></li>
						<li><a href="samsung.html"><span class="icon"><i class="fa-solid fa-mobile-screen"></i></span>Samsung</a></li>
						<li class="has_child">
							<a href="dienthoai.html"><span class="icon"><i class="fa-solid fa-mobile-retro"></i></span>Điện thoại</a>
							<ul class="sub_menu">
								<li><a href="#">Apple</a></li>
								<li><a href="#">Samsung</a></li>
								<li><a href="#">Oppo</a></li>
								<li><a href="#">Xiaomi</a></li>
							</ul>
						</li>
						<li class="has_child">
							<a href="#"><span class="icon"><i class="fa-solid fa-tablet-screen-button"></i></span>Tablet</a>
							<ul class="sub_menu">
								<li><a href="#">Apple</a></li>
								<li><a href="#">Samsung</a></li>
							</ul>
						</li>
						<li class="has_child">
							<a href="#"><span class="icon"><i class="fa-solid fa-laptop"></i></span>Laptop</a>
							<ul class="sub_menu">
								<li><a href="#">Macbook</a></li>
								<li><a href="#">HP</a></li>
								<li><a href="#">Asus</a></li>
								<li><a href="#">Lenovo</a></li>
								<li><a href="#">Dell</a></li>
								<li><a href="#">Msi</a></li>
								<li><a href="#">Surface</a></li>
							</ul>
						</li>
						<li class="has_child">
							<a href="#"><span class="icon"><i class="fa-solid fa-computer"></i>></span>Pc - Máy văn phòng</a>
							<ul class="sub_menu">
								<li><a href="#">Màn hình máy tính</a></li>
								<li><a href="#">Máy tính để bàn</a></li>
							</ul>
						</li>
						<li class="has_child">
							<a href="#"><span class="icon"><i class="fa-solid fa-swatchbook"></i></span>Đồng hồ</a>
							<ul class="sub_menu">
								<li><a href="#">Apple</a></li>
								<li><a href="#">Samsung</a></li>
							</ul>
						</li>
						<li class="has_child">
							<a href="#"><span class="icon"><i class="fa-solid fa-headphones"></i></span>Phụ kiện</a>
							<ul class="sub_menu">
								<li><a href="#">Pin dự phòng</a></li>
								<li><a href="#">Bao da, ốp lưng</a></li>
								<li><a href="#">Balo - Túi xách laptop</a></li>
								<li><a href="#">Tai nghe, loa</a></li>
								<li><a href="#">Sạc cáp</a></li>
								<li><a href="#">Chuột, bàn phím</a></li>
								<li><a href="#">Cường lực - PPF</a></li>
							</ul>
						</li>
						<li class="has_child">
							<a href="#"><span class="icon"><i class="fa-solid fa-gift"></i></span>Khuyến mãi</a>
							<ul class="sub_menu">
								<li><a href="#">Tết đến lương về sale cực mê</a></li>
								<li><a href="#">Khuyến mãi cuối tuần</a></li>
								<li><a href="#">Giờ vàng giá sốc</a></li>
								<li><a href="#">Tablet plaza thứ ba giá rẻ</a></li>
							</ul>
						</li>
						<li><a href="tintuc.html"><span class="icon"><i class="fa-regular fa-newspaper"></i></span>Tin tức</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>