@model ShopDienThoai.Models.Category

@{
    ViewData["Title"] = "Xóa danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Thông tin danh mục</h4>
                <form asp-action="delete" method="post" class="forms-sample">
                    <input type="hidden" name="id" asp-for="CategoryId" />
                    <div class="form-group">
                        <label asp-for="CategoryId" class="form-label">Mã danh mục</label>
                        <input asp-for="CategoryId" class="form-control" placeholder="Mã danh mục" readonly>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryName" class="form-label">Tên danh mục</label>
                        <input asp-for="CategoryName" class="form-control" placeholder="Nhập tên danh mục" readonly>
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Xác nhận xóa</button>
                    <a href="/admin/categories" class="btn btn-dark">Hủy</a>
                </form>
            </div>
        </div>
    </div>
</div>
